/* here is all the styles colors shapes  */
*{
    margin: 0;
}
body{
    font-family: 'Crimson Text', serif;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    font-family: 'Crimson Text', serif;
}
.navbar-container{
    display: flex;
    align-items: center;
    background-color: black;
    color: rgba(27, 207, 141, 0.882);
    padding: 0 50px;
    height: 100%;
}
.logo-container{
    flex: 1;
}
.logo{
    font-size: 30px;
    color: rgba(218, 165, 32, 0);
}
.logo-container h1.logo:hover{
    color: gold;
}
.profile-text-container i{
    color:rgba(48, 206, 48, 0.206);
}
.profile-text-container i:hover{
    color:rgb(48, 206, 48);
}
.menu-container{
    flex: 6;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 30px;
}
.menu-list-item.active{
    font-weight: bold;
}
/* Categories is Hidden for futher Updates*/
.categories-container{
    flex: 3;
} 
.profile-container{
    flex:2;
    align-items: center;
}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.site-picture{
    width: 54.5px;
    height: 50px;
    border-radius: 20%;
}
.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}